.background {
    background-image: url('../images/stars3.png'), linear-gradient(rgb(0, 10, 62), rgb(0, 16, 189));
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}